In [1]:
import numpy as np
import pandas as pd
from numpy.random import randn

In [2]:
outside = ['G1','G1','G1','G2','G2','G2']
inside = [1,2,3,1,2,3]
hier_index = list(zip(outside,inside))

In [3]:
hier_index

[('G1', 1), ('G1', 2), ('G1', 3), ('G2', 1), ('G2', 2), ('G2', 3)]

In [4]:
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [5]:
hier_index

MultiIndex(levels=[['G1', 'G2'], [1, 2, 3]],
           codes=[[0, 0, 0, 1, 1, 1], [0, 1, 2, 0, 1, 2]])

In [6]:
df=pd.DataFrame(randn(6,2),hier_index,['A','B'])

In [7]:
df

             A         B
G1 1 -1.469885 -0.480320
   2  1.539818 -0.920078
   3  0.620076 -1.686235
G2 1 -0.065361  0.675054
   2  0.153481  0.149956
   3 -0.960000 -0.410205

In [8]:
df.loc['G1'].loc[1]

A   -1.469885
B   -0.480320
Name: 1, dtype: float64

In [9]:
df.index.names

FrozenList([None, None])

In [10]:
 df.index.names=['Groups','Nums']

In [11]:
df

                    A         B
Groups Nums
G1     1    -1.469885 -0.480320
       2     1.539818 -0.920078
       3     0.620076 -1.686235
G2     1    -0.065361  0.675054
       2     0.153481  0.149956
       3    -0.960000 -0.410205

In [14]:
df.loc['G2'].loc[2]['B']

0.14995645001418395

In [18]:
df.xs('G1')      #cross-section indexing

             A         B
Nums
1    -1.469885 -0.480320
2     1.539818 -0.920078
3     0.620076 -1.686235

In [19]:
df.xs(1,level='Nums')

               A         B
Groups
G1     -1.469885 -0.480320
G2     -0.065361  0.675054