# Pandas

In [2]:
import numpy as np
import pandas as pd

In [13]:
label=['a','b','c']
my_data=[10,20,30]
arr=np.array(my_data)
d={'a':10,'b':20,'c':30}

## Series by list

In [15]:
pd.Series(data=my_data)

0    10
1    20
2    30
dtype: int64

In [16]:
pd.Series(data=my_data,index=label)

a    10
b    20
c    30
dtype: int64

In [17]:
pd.Series(my_data,label)

a    10
b    20
c    30
dtype: int64

## Series by array

In [19]:
pd.Series(arr,label)

a    10
b    20
c    30
dtype: int64

## Seies By dictionar

In [12]:
pd.Series(d)

a    10
b    20
c    30
dtype: int64

In [20]:
d

{'a': 10, 'b': 20, 'c': 30}

In [27]:

pd.Series(data=[sum,print,len])

0      <built-in function sum>
1    <built-in function print>
2      <built-in function len>
dtype: object

In [28]:
ser1=pd.Series([1,2,3,4],['USA','GERMANY','USSR','JAPAN'])

In [31]:
ser1

USA        1
GERMANY    2
USSR       3
JAPAN      4
dtype: int64

In [32]:
ser2=pd.Series([1,2,3,4],['USA','GERMANY','Italy','JAPAN'])

In [33]:
ser2

USA        1
GERMANY    2
Italy      3
JAPAN      4
dtype: int64

In [34]:
ser1['USA']

1

In [36]:
ser3=pd.Series(data=label)

In [37]:
ser3

0    a
1    b
2    c
dtype: object

In [38]:
ser3[0]

'a'

In [41]:
ser1 + ser2     # Integers converted into float in order to retain all the in fo

GERMANY    4.0
Italy      NaN
JAPAN      8.0
USA        2.0
USSR       NaN
dtype: float64